@mixin grid-center {
  display: grid;
  justify-items: center;
}

@mixin hover-green {
  &:hover,
  &:focus {
    transition: all 0.3s;
    color: $color-green;
  }
}

@mixin grid-auto-fill {
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  justify-content: space-between;
  grid-gap: 2.5rem 1.875rem;
}
