$color-dark-blue: rgb(45, 49, 77);
$color-green: rgb(49, 211, 92);
$color-cyan: rgb(43, 183, 218);

$color-grey: rgb(150, 152, 166);
$color-grey-light: rgb(243, 244, 246);
$color-grey-extra-light: rgb(250, 250, 250);
$color-white: rgb(255, 255, 255);
