* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-family: "Public Sans", sans-serif;
  font-weight: 400;
  color: $color-grey;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  outline-offset: 5px;
  background-color: transparent;
  cursor: pointer;
}
